:root {
    --branding-color: #F9F7FE;
    --secondary-color: #6C63FF;
    --default-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--default-font-family);
    font-weight: bold;
    color: black;
}

.h1 {
     font-size: 96px;
     line-height: 1.5;
}

.h2 {
    font-size: 64px;
}

.h3 {
    font-size: 48px;
    line-height: 1,5;
    margin: 20px 0 0;
}

h4 {
    font-size: 24px;
}

p   {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.hero {
    background-color: var(--branding-color);
    text-align: center;
    padding: 100px 20px;
}

.hero p {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    color: #969696;
    font-size: 24px;
    line-height: 2;
}

.content-container {
    padding: 60px 20px;
    text-align: center;
}

.content-container h1 {
    font-size: 64px;
    line-height: 80px;
}

.content-container h2 {
    font-size: 20px;
    font-family: var(--default-font-family);

}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
    background: var(--secondary-color);
    color: white;
    font-family: var(--default-font-family);
    font-size: 18px;
    margin: 0;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 4px;
}

.btn-branding:hover {
    border-color: var(--secondary-color);
    background-color: var(--branding-color);
    color: var(--secondary-color);
}

.btn-branding-outline {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid var(--secondary-color);
}

.btn-branding-outline:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--branding-color);
}

.content {
    margin: 30px;
    padding: 0;
}

.project-description {
    padding: 120px 60px;
}

.logo {
    max-height: 41px;
}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 43px;
    font-size: 16px;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #272142;
}

nav a:hover {
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--secondary-color);
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background-color: var(--branding-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    font-family: var(--default-font-family);
    text-decoration: none;
    font-size: 24px;
    color: black;
}

footer .email-link:hover {
    font-family: var(--default-font-family);
    text-decoration: none;
    font-size: 24px;
    color: var(--secondary-color);
}

footer .social-links a {
    margin: 0 25px;
    color: var(--secondary-color);
    background: var(--branding-color);
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 30px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background-color: var(--secondary-color);
}

i.fa-3x {
    margin: 25px;
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
} 

i.fa-3x:hover {
    color: white;
    background-color: var(--secondary-color);
}

.credits {
    font-size: 14px;
}


@media (max-width: 900px) {
    .project-description {
        padding: 0;
        text-align: center;
    }
    h1 {
        font-size: 44px;
        line-height: 1.5;
    }

    h2 {
        font-size: 44px;
    }

    h3 {
        font-size: 26px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

}


