
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
}